
<form
  novalidate
  autocomplete="off"
  #loginForm="ngForm"
  (ngSubmit)="login()"
>
  <mat-form-field>
    <input
      matInput
      name="userNameOrEmailAddress"
      [(ngModel)]="
        loginService.authenticateModel.userNameOrEmailAddress
      "
      [placeholder]="'UserNameOrEmail' | localize"
      autocomplete="off"
      required
      maxlength="255"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      name="password"
      [(ngModel)]="loginService.authenticateModel.password"
      [placeholder]="'Password' | localize"
      required
      maxlength="32"
    />
  </mat-form-field>
  <mat-checkbox name="rememberMe" [(ngModel)]="loginService.rememberMe">
    {{ "RememberMe" | localize }}
  </mat-checkbox>
  <button
    mat-flat-button
    type="submit"
    flex="15"
    color="accent"
    [disabled]="!loginForm.form.valid || submitting"
  >
    {{ "LogIn" | localize }}
  </button>
  <a [routerLink]="['../register']">{{ "Register" | localize }}</a>
</form>

